.main{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main h1{
    font-size: 3vw;
    font-weight: bolder;
    color: white;
}

.main a{
    width: 16vw;
    height: 5vh;
    font-size: 1.5vw;
    border-radius: 10px;
    cursor: pointer;
    background-color: #52238B;
    color: white;
    text-align: center;
    text-decoration: none;
}

.contenedor{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 0.2fr); 
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.card{
    width: 18vw;
    height: 40vh;
    cursor: pointer;
    border: none;
}

.card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(0.6);
    border-radius: 5px;
    transition: 0.3s;
}

.card p{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    opacity: 0;
    transition: 0.3s;
    font-size: 2vw;
    font-weight:600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover img{
    filter: brightness(0.2);
}

.card:hover p{
    opacity: 1;
}

.contenedor-chat{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #52238B;
    width: fit-content;
    height: 5vh;
    bottom: 0px;
    border-radius: 5px;
    margin-left: 3vw;
    transition: 0.3s;
    z-index: 1;
}

.contenedor-chat:hover{
    height: 90vh;
}

.contenedor-chat:hover .mensajes{
    opacity: 1;
    transition: 1s;
}

.contenedor-chat:hover .texto-invisible{
    display: none;
    transition: 0s;
}

.contenedor-chat:hover form{
    display: flex;
    transition: 0s;
}

.texto-invisible{
    display: block;
    color: white;
    font-weight: bolder;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    transition: 1s;
}

.mensajes{
    opacity: 0;
    background-color: #222222;
    color: white;
    width: 20vw;
    height: 80vh;
    margin: 1vw;
    border-radius: 5px;
    overflow:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    padding: 1vw;
    transition: 0.2s;
    gap: 0.5vw;
}

.mensaje{
    display: flex;
    justify-content: space-between;
    min-height: 4vh;
}

.txt{
    width: 12vw;
    white-space: normal;
    word-wrap: break-word;
}

form{
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
}

form input{
    height: 2vw;
    width: 17vw;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
}

form button{
    height: 2vw;
    width: 3vw;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border: none;
    background-color: #331855;
    color: white;
    transition: 0.3s;
}

form button:hover{
    background-color: #220c3b;
}