.main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5vw;
    margin-top: 3vh;
}

.avatar{
    height: 40vh;
    width: 20vw;
    border-radius: 5px;
}

.texto{
    width: 40vw;
}

.texto p {
    font-size: 1vw;
}

.texto{
    font-size: 3vw;
}

.back{
    position: absolute;
    width: 100%;
    z-index: -1;
    height:55vh;
    object-fit: cover;
    filter: brightness(0.25);
    top: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-adicional{
    flex-direction: column;
    margin-top: 8vh;
    border: 10px;
    width: 30vw;
    color: white;
}

.info-adicional h2{
    text-align: center;
}

.info-adicional p{
    padding-left: 1vw;
}

.pair{
    background-color: #000000;
}

.container{
    display: flex;
}