.header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.header img{
    height: 20vw;
    width: 20vw;
    object-fit: cover;
    filter:invert(1);
}

.casilleros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    font-size: 5vw;
}

.teclado{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tecla{
    height: 4vw;
    width: 4vw;
    border: none;
    background-color: #52238B;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    margin: 0.5vw;
}

.tecla-erronea{
    height: 4vw;
    width: 4vw;
    border: none;
    background-color: #c00808;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    margin: 0.5vw;
}

.tecla-correcta{
    height: 4vw;
    width: 4vw;
    border: none;
    background-color: #00ff2aa9;
    color: white;
    border-radius: 5px;
    transition: 0.3s;
    margin: 0.5vw;
}

.tecla:hover{
    transform: scale(1.1);
    background-color: rgb(99, 33, 116);
}

.contenedor-teclas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.numeros{
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    margin-top: 3vw;
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
    color: white;
}