.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: #1F1F1F;
    color: white;
    box-shadow: 5px 2px 20px rgba(0, 0, 0, 0.514);
}


.header > div{
    width: 33vw;;
}

.header p{
    margin: 1vw;
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    padding: 0.4vw;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 0.8vw;
}

a:hover{
    background-color: #2e1152;
}

.header div{
    display: flex;
}

.logo{
    display: flex;
    align-items: center;
    margin-left: 1vw;
}

.logo img{
    width: 3vw;
}

.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    background-color: #52238B;
    border-radius: 99999rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.user-info{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1vw;
}