<header class="header">
    <div class="logo">
        <img src="logo.png"/>
        <p>Juegos 4 Fun</p>
    </div>
    <div class="nav-container">
        <div class="nav">
            <a routerLink="/">Inicio</a>
            <a routerLink="/quien-soy">Quien Soy</a>
            <a routerLink="/rankings">Rankings</a>
            <a routerLink="/encuesta">Encuesta</a>
            @if (loggedIn() == false) {
                <a routerLink="/login">Login</a>
                <a routerLink="/register">Register</a>
            }
            
            @if (loggedIn() == true) {
                <a (click)="logout()">Logout</a>
            }
        </div>
    </div>
    @if (loggedIn() == true) {
        <div class="user-info">
            <p>{{nombre()}}</p>
            @if (isAdmin() == true) {
        <div class="admin-panel">
            <a routerLink="/encuestaAdmin">Admin Panel</a>
        </div>
    }
        </div>
    }@else {
        <div class="user-info">
            <p>Inicie Sesion!</p>
        </div>
    }
</header>